{% load static %}

<!-- Header -->
    <header id="header">
        <div class="content">
            <div class="inner">
                <h1>INVESTING MADE SIMPLE</h1>
                <p>A simple guide for Canadians</p>
            </div>
        </div>
        <nav>
            <ul>
                <li><a href="#calculator">Investment calculator</a></li>
                <li><a href="#howToInvest">How to invest?</a></li>
                <li><a href="#suggestions">Portfolio suggestions</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </header>