{% extends 'forum/base-forum.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block content %}
   <div class="content-section py-5">
        <form method="POST">
            {% csrf_token %}
            <fieldset>
                <legend class="border-bottom">Log in</legend>
                {{ form|crispy }}
            </fieldset>
            <div>
                <button class="btn btn-outline-info" type="submit">Log in</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                You don't have an account? <a href="{% url 'register' %}" class="ml-2">Sign up</a>
            </small>
        </div>
    </div>
{% endblock %}

